#!/bin/sh

# validate gpg setup
node bin/validate-encryption-setup.js
if [ $? -ne 0 ]; then
  echo "error: gpg setup validation failed"
  exit 1
fi

# encrypt files in private directory
node bin/pre-commit-encrypt.js
if [ $? -ne 0 ]; then
  echo "error: pre-commit encryption failed"
  exit 1
fi

exit 0 